a.go-xpost-add-endpoint.button {
	float: right;
	margin-top: 1em;
}

.go-xpost-settings li {
	background: white;
	border: 1px solid #e5e5e5;
	margin-bottom: 1em;
	padding: 12px;
}

.go-xpost-settings li > div {
	display: inline-block;
	margin-top: 0;
	margin-right: 20px;
	vertical-align: top;
	margin-bottom: 0.5em;
}

.go-xpost-verbose-log span,
.go-xpost-xpost-on-edit span {
	vertical-align: middle;
}

.go-xpost-settings li .go-xpost-endpoint input {
	width: 350px;
}

.go-xpost-settings li .go-xpost-delete-endpoint {
	float: right;
}

input#go-xpost-secret.input,
.go-xpost-batch-form input[type="text"] {
	width: 530px;
}

.go-xpost-batch-form input[type="number"] {
	width: 73px;
}